

.about {
    display: flex;
    padding: 10%;
    column-gap: 15%;
}

.hello {
    /* background: linear-gradient(270deg, rgba(194,46,208,1) 36%, rgba(95,250,224,1) 80%); */
    /* background: linear-gradient(270deg, rgba(72, 0, 72, 1) 10%, rgba(0, 31, 63, 1) 99%); */
    background: linear-gradient(270deg, rgb(210, 1, 210) 10%, rgb(1, 99, 197) 99%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.8rem;
    font-weight: 500;
}

.about-title {
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 2em;
}

.about-paragraph {
    font-size: 1.2rem;
    line-height: 1.5em;
    text-align: center;
}

.about-right {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
}


.about-icons {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    column-gap: 15px;
    row-gap: 15px;
    
}

.about-icons-style {
    padding: 20px;
    width: 80px;
    border-radius: 10px;
    /* background: linear-gradient(270deg, rgba(194,46,208,1) 10%, rgba(95,250,224,1) 99%); */
    background: linear-gradient(270deg, rgba(72, 0, 72, 1) 10%, rgba(0, 31, 63, 1) 99%);
}

@media (max-width: 768px) {
    .about {
        margin-top: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10em;
    }

    .about-title{
        text-align: center;
    }
}